<!DOCTYPE html>
<html>
    <head>
        <title>my family</title>
        <script src="./script.js"></script>
        <link rel="stylesheet" href="./style.css">
        <script src="./angular.min.js"></script>
    </head>

    <body ng-app='myApp' ng-controller='myCtrl'>
        <div class="treeContainer">
            <h1>Family details</h1>
            <div class="level1">
                <h3 ng-repeat='i in familyData' ng-if='i.level == 1'>
                    <span ng-click='showDetails(i)'>{{i.name}}</span>
                    <span ng-click='showLevel(i)' ng-if='!i.show'>&gt;</span>
                    <span ng-click='showLevel(i)' ng-if='i.show'>&lt;</span>
                </h3>
            </div>
            <div class="level2" ng-if='showLevel2'>
                <h3 ng-repeat='i in level2Gen'>
                    <span ng-click='showDetails(i)'>{{i.name}}</span>
                    <span ng-click='showLevel(i)' ng-if='!i.show'>&gt;</span>
                    <span ng-click='showLevel(i)' ng-if='i.show'>&lt;</span>
                </h3>
            </div>
            <div class="level3" ng-if='showLevel3'>
                <h3 ng-repeat='i in level3Gen'>
                    <span ng-click='showDetails(i)'>{{i.name}}</span>
                    <span ng-click='showLevel(i)' ng-if='!i.show'>&gt;</span>
                    <span ng-click='showLevel(i)' ng-if='i.show'>&lt;</span>
                </h3>
            </div>
        </div>
        <div class="detailsContainer">
            <h3>Name: {{name}}</h3>
            <h3>Age: {{age}}</h3>
            <h3>Parent: {{parent}}</h3>
            <h3>Mobile Number: {{mobileNumber}}</h3>
            <h3>children: <span ng-repeat='i in children'>{{i}}, </span></h3>
        </div>
    </body>
</html>