.level1 {
    height: 50px;
    width: 250px;
    margin: 100px 125px;
    background-color: aliceblue;
}

.level2 {
    margin: 100px 125px;
    height: 600px;
    width: 250px;
    background-color: aliceblue;
}

.level3 {
    margin: 100px 125px;
    height: 300px;
    width: 250px;
    background-color: aliceblue;
}

span {
    cursor: pointer;
}

body {
    display: flex;
}

.treeContainer {
    width: 50%;
    height: 1800px;
    background-color: aquamarine;
    text-align: center;
}

.detailsContainer {
    width: 50%;
    height: 1800px;
    background-color: azure;
}

.tabSize {
    margin-left: 130px;
}